body {
  background-image: url("food-background.jpg");
}

#preview-image {
  max-width: 200px;
  max-height: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p7,
p8 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.title {
  font-family: "Fascinate Inline", cursive;
}

.navbar-menu {
  font-family: "Open Sans", sans-serif;
}

.box {
  font-family: "Open Sans", sans-serif;
}

.wrap {
  white-space: normal;
  height: auto;
}
